<div class="secciones col-12 col-md-3">
      <div class="col-12">
        <h1>Cursos</h1>
        <nav>
          <ul>
            <li><a href="">codeAR Basics</a></li>
            <li><a href="">Cursos nuevos</a></li>
            <li><a href="">Cursos mejor valorados</a></li>
            <li><a href="">Cursos populares</a></li>
            <li><a href="">Cursos gratis</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-12">
        <h1>CATEGORIAS</h1>
        <nav>
          <ul>
            <li><a href="/cursos/webdesing">Desarrollo Web</a></li>
            <li><a href="/cursos/videoJuegos">Video Juegos</a></li>
            <li><a href="/cursos/js">JavaScript</a></li>
            <li><a href="">IA</a></li>
            <li><a href="">Seguridad Informatica</a></li>
            <li><a href="">Marketing</a></li>
            <li><a href="">Emprendimiento</a></li>
            <li><a href="">Negocios</a></li>
            <li><a href="">Arduino</a></li>
            <li><a href="">Ingenieria de Software</a></li>
            <li><a href="">Tipografia</a></li>
            <li><a href="">Diseño Web</a></li>
            <li><a href="">Wordpress</a></li>
          </ul>
        </nav>
      </div>
    </div>