<!DOCTYPE html>
<html lang="en">

	<%- include("partials/head.ejs")  %> 

<body>
<!-- HEADER -->
<%- include("partials/header.ejs")  %> 
<!-- HEADER -->

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="container-fluid row">
    <!-- CONTROLADOR -->
        <%- include("partials/controlador") %> 
    <!-- CONTROLADOR -->


    <!-- CONTENEDOR -->
    <div class="contenedor-admin container-fluid col-12 col-lg-10">
      
      

     <h1 class="titleAdmin">Bienvenido Administrador</h1>
     <p>En esta sección podras administrar tu negocio, podras crear productos, crear paquetes, editar y eliminar todo a tu gusto. Navega por el panel de control y buena suerte.</p>

    
    </div>
    <!-- CONTENEDOR -->
  </div>
  <!-- CONTENEDOR PRINCIPAL -->








  <!-- /footer -->
  <%- include("partials/footer.ejs")  %> 
</body>

</html>