<!DOCTYPE html>
<html lang="en">

	<%- include("partials/head.ejs")  %> 

<body>
<!-- HEADER -->
<%- include("partials/header.ejs")  %> 
<!-- HEADER -->

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="container-fluid row">
    <!-- CONTROLADOR -->
    <%- include("partials/controlador") %> 
    <!-- CONTROLADOR -->
    <!-- CONTENEDOR -->
    <div class="contenedor col-12 col-md-8 col-lg-10">
      <div class="titulo-categorias col-12 ">
        <h1>CATEGORIAS</h1>
      </div>

      <div class="categorias col-12 row">
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-arduino.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-diseño-web.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-emprendimiento.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-ingenieria-software.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-marketing.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-negocios.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-seguridad-informatica.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-tipografias.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-video-juegos.png" alt="">
        </div>
        <div class="categoria col-12 col-md-6 col-lg-3">
          <img src="/images/cat-wordpress.png" alt="">
        </div>
      </div>

    </div>
    <!-- CONTENEDOR -->
  </div>
  <!-- CONTENEDOR PRINCIPAL -->








  <!-- /footer -->
  <%- include("partials/footer.ejs")  %> 
</body>

</html>